html, body{
  height: 100%;
  background-color: rgb(242, 244, 246);
}
.container-fluid{
  background-color: rgb(242, 244, 246);
}

.top {
  padding-top: 50px; 
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.row > div {
}
.form-control {
  border: 1px solid #dadada;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px; 
  font-size: 14px;
  line-height: 1.42857;
  color: #eee;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control-feedback {
  position: absolute;
  top: 3px;
  right: 152px;
  z-index: 2; 
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center; 
} 

.wid-panel {
  height: 160px;
  background-color: #FFF;
  margin: 15px;
}

.search {
  margin-left: 15px;
  width:19em;
  }

.wid-sub-1 {
  height: 65%;
  background-color: rgba(163, 202, 241, 0.3);
}

.wid-sub-2 {
  height: 35%;   
  white-space: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 32px;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5e6871;
    margin-left: 14px;
    margin-top: 1em;
}